<div class="reset-password-container">
  <div class="reset-password-form">
    <h2 class="reset-password-title">Reset Your Password</h2>
    <form (ngSubmit)="onResetPassword()">
      <label for="email">Email:</label>
      <input 
        type="email" 
        id="email" 
        [(ngModel)]="email" 
        name="email" 
        class="reset-password-input"
        required>
      <button type="submit" class="reset-password-button">Send Reset Link</button>
    </form>
    <p>Enter your email to receive a password reset link.</p>
  </div>
 <div class="back-link">
  <a (click)="onBackToLogin()" class="reset-password-link">Back to Login</a>
</div>
</div>